@font-face {
  font-family: "bet";
  src: url('./fonts/bet.eot?t=1649211917930'); /* IE9*/
  src: url('./fonts/bet.eot?t=1649211917930#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("./fonts/bet.woff2?t=1649211917930") format("woff2"),
  url("./fonts/bet.woff?t=1649211917930") format("woff"),
  url('./fonts/bet.ttf?t=1649211917930') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./fonts/bet.svg?t=1649211917930#bet') format('svg'); /* iOS 4.1- */
}

[class^="bet-"], [class*=" bet-"] {
  font-family: 'bet' !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.bet-dao:before { content: "\ea01"; }
.bet-github:before { content: "\ea02"; }
.bet-info-circle:before { content: "\ea03"; }
.bet-markdown-mark:before { content: "\ea04"; }
.bet-play:before { content: "\ea05"; }
.bet-qa:before { content: "\ea06"; }
